.md-sidebar--primary .md-sidebar__inner::after {
    content: '';
    display: block;
    background: url('../assets/pp.jpeg') no-repeat center center;
    background-size: cover;
    width: 160px; /* Adjust as necessary */
    height: 160px; /* Adjust as necessary */
    border-radius: 50%; /* Circular image */
    position: absolute;
    bottom: 14px; /* Increase this value to move the image further down */
    left: 33%;
    transform: translateX(-50%); /* Center horizontally */
  }
  
  .md-sidebar--primary .md-sidebar__inner {
    position: relative;
    padding-bottom: 200px; /* Increase padding to accommodate the image and extra space */
  }
  